In [1]:
import pandas as pd

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train = pd.read_csv('data/train_set.csv')

In [3]:
test = pd.read_csv('data/test_set.csv')

In [3]:
short_train = pd.read_csv('data/short_train.csv')

In [29]:
long_train = pd.read_csv('data/long_train.csv')

In [27]:
short_train.describe()

          Unnamed: 0             id  article_class   article_len      word_len
count   60766.000000   60766.000000   60766.000000  60766.000000  60766.000000
mean    51348.834974   51348.834974       9.926735    545.090692    335.611148
std     29487.518154   29487.518154       5.247734    260.738339    161.017013
min         3.000000       3.000000       1.000000     50.000000      6.000000
25%     25914.250000   25914.250000       6.000000    345.000000    212.000000
50%     51379.000000   51379.000000      10.000000    559.000000    344.000000
75%     77009.500000   77009.500000      14.000000    759.000000    465.000000
max    102276.000000  102276.000000      19.000000   1000.000000    935.000000

In [30]:
long_train.describe()

          Unnamed: 0             id  article_class   article_len      word_len
count   41511.000000   41511.000000   41511.000000  41511.000000  41511.000000
mean    50829.368601   50829.368601      10.753656   2102.269085   1275.185348
std     29577.356344   29577.356344       5.509307   1714.584649   1010.715437
min         0.000000       0.000000       1.000000   1001.000000     74.000000
25%     25077.500000   25077.500000       7.000000   1236.000000    756.000000
50%     50802.000000   50802.000000      11.000000   1604.000000    982.000000
75%     76250.000000   76250.000000      15.000000   2330.000000   1418.000000
max    102275.000000  102275.000000      19.000000  55804.000000  39759.000000

In [4]:
train.head()

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [6]:
new_train = train.rename(columns={'class': 'article_class'}, inplace=False)

In [6]:
new_train.head()

,id,article,word_seg,article_class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [7]:
class1 = new_train[new_train['article_class'] == 1]

In [12]:
class1.head()

,id,article,word_seg,article_class
6,6,893673 7368 836872 674898 231468 856005 105964...,277781 816903 1098157 986174 1033823 780491 10...,1
22,22,7368 611112 599682 626254 569999 601396 7368 7...,816903 340401 966562 102711 599826 1267351 816...,1
25,25,1220011 206763 837240 678940 641588 206763 314...,585102 54111 1080587 732777 788023 1033823 120...,1
83,83,1252069 1262723 7368 1077049 807565 615799 106...,318911 816903 766772 276089 889015 878073 1059...,1
102,102,1252069 569999 1044285 707703 177198 1002824 2...,1000015 520477 676 113590 655002 211511 131043...,1

In [4]:
import sys,codecs
import pandas as pd
import numpy as np
from sklearn import feature_extraction
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [7]:
all_top = []
for n in range(19):
    classi = new_train[new_train['article_class'] == n+1]
    
    # 1、构建词频矩阵，将文本中的词语转换成词频矩阵
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(classi['word_seg']) # 词频矩阵,a[i][j]:表示j词在第i个文本中的词频
    # 2、统计每个词的tf-idf权值
    transformer = TfidfTransformer()
    tfidf = transformer.fit_transform(X)
    # 3、获取词袋模型中的关键词
    word = vectorizer.get_feature_names()
    # 4、获取tf-idf矩阵，a[i][j]表示j词在i篇文本中的tf-idf权重
    weight = tfidf.toarray()
    word_tfidf = np.max(weight,axis=0)
    word_tfidf_c = word_tfidf
    top1000 = []
    for i in range(1000):
        idx = list(word_tfidf_c).index(max(word_tfidf_c))
        top = word[idx]
        word_tfidf_c[idx] = 0
        top1000.append(top)
    all_top = list(set(all_top+top1000))
    print('class',n,': ',len(all_top))

class 0 :  1000
class 1 :  1913
class 2 :  2833
class 3 :  3715
class 4 :  4558
class 5 :  5392
class 6 :  6176
class 7 :  6926
class 8 :  7667
class 9 :  8379
class 10 :  9043
class 11 :  9742
class 12 :  10378
class 13 :  11076
class 14 :  11757
class 15 :  12285
class 16 :  12891
class 17 :  13729
class 18 :  14323

In [25]:
print(type(word),len(word))
print(type(all_top),len(all_top))

<class 'list'> 221144
<class 'list'> 14323

In [9]:
from tqdm import tqdm
all_article = []
for line in tqdm(train.word_seg):
    line = line.split()
    article = []
    #article = list(set(all_top).intersection(set(line)))
    for word in line:
        if word in all_top:
            article.append(word)
    all_article.append(article)

100%|██████████| 102277/102277 [4:45:41<00:00,  5.97it/s]

In [10]:
article_test = []
for line in tqdm(test.word_seg):
    line = line.split()
    article = []
    #article = list(set(all_top).intersection(set(line)))
    for word in line:
        if word in all_top:
            article.append(word)
    article_test.append(article)

100%|██████████| 102277/102277 [4:45:42<00:00,  5.97it/s]

In [11]:
np.save('train_article.npy',all_article)

In [12]:
np.save('test_article.npy',article_test)

In [13]:
print(len(all_article),len(all_article[0]),all_article[:5])

102277 281 [['816903', '520477', '1033823', '758724', '520477', '1203094', '995362', '1278762', '1203094', '520477', '970779', '758724', '1033823', '995362', '340401', '599826', '520477', '264536', '469755', '520477', '566120', '960860', '1033823', '1108771', '643003', '520477', '1276143', '995362', '520477', '520477', '1241273', '520477', '572824', '995362', '816903', '566120', '1255841', '1025743', '197563', '990423', '816903', '520477', '876555', '1071452', '1145850', '1278762', '520477', '995362', '966562', '520477', '488550', '569876', '113299', '796858', '520477', '1161095', '411707', '881493', '520477', '796858', '129186', '960860', '520477', '244780', '520477', '520477', '796858', '995362', '816903', '520477', '129186', '792049', '520477', '825039', '566120', '1255841', '520477', '1033823', '520477', '825039', '1025743', '990423', '1033823', '520477', '1067170', '685144', '920327', '93759', '520477', '257284', '1253782', '437702', '520477', '1025743', '701424', '610495', '197563', '1033823', '862457', '520477', '1152016', '995362', '990423', '816903', '966562', '520477', '78141', '1033823', '1255841', '520477', '995362', '990423', '520477', '792049', '520477', '796858', '520477', '1200054', '920327', '1145850', '825039', '520477', '520477', '626786', '803388', '520477', '197563', '995362', '520477', '78141', '519560', '520477', '995362', '816903', '469755', '816903', '792049', '520477', '1145850', '995362', '520477', '1040672', '190034', '425511', '1043618', '520477', '469755', '1276143', '1033823', '995362', '920327', '920327', '729583', '920327', '1240292', '1251733', '920327', '995362', '816903', '816903', '1033823', '1203332', '920327', '792049', '520477', '999378', '966562', '599826', '520477', '190034', '920327', '1200054', '920327', '1145850', '49805', '520477', '995362', '816903', '1025743', '1108771', '792049', '520477', '848000', '862457', '520477', '305212', '288223', '244780', '995362', '990423', '533644', '520477', '569876', '113299', '41306', '520477', '1097342', '920327', '920327', '144973', '26206', '1033823', '1271263', '520477', '566120', '960860', '520477', '1241273', '643003', '995362', '816903', '520477', '1241273', '1255841', '792049', '520477', '405687', '1033823', '825039', '1033823', '1025743', '990423', '520477', '825039', '1033823', '1255841', '1033823', '1255841', '520477', '1241273', '197563', '49805', '995362', '816903', '520477', '1241273', '1025743', '253930', '990423', '520477', '520477', '1067170', '99032', '1033823', '49805', '1033823', '862457', '995362', '1025743', '460600', '1131493', '1033823', '520477', '568277', '277558', '995362', '990423', '816903', '792049', '520477', '752523', '1102131', '520477', '190034', '425511', '263278', '920327', '1251733', '1097942', '263278', '920327', '263278', '920327', '1025743', '990423', '263278', '816903', '1033823', '995362', '520477', '816903'], ['816903', '441039', '816903', '816903', '520477', '133940', '816903', '848000', '520477', '701424', '572782', '457828', '968083', '397939', '323159', '1033823', '520477', '848000', '701424', '133940', '816903', '520477', '520477', '133940', '569876', '1033823', '985047', '520477', '566120', '133940', '816903', '422170', '520477', '173393', '133940', '1033823', '520477', '572782', '457828', '968083', '397939', '323159', '1033823', '133940', '816903', '457828', '1115586', '816903', '816903', '816903', '487337', '1033823', '788176', '1033823', '520477', '487337', '520261', '1033823', '1033823', '1151443', '995362', '919096', '33145', '1033823', '28028', '520477', '1033823', '520477', '995362', '968083', '397939', '1033823', '995362', '848000', '849254', '1033823', '1107358', '111874', '1033823', '520477', '995362', '816903', '995362', '1211274', '1033823', '319071', '792049', '42109', '943146', '520477', '487337', '520477', '487337', '995362', '1276314', '357663', '520477', '1032942', '520477', '1033823', '995362', '520477', '968083', '397939', '920327', '1033823', '1151443', '995362', '520477', '1171534', '554251', '554251', '796858', '554251', '554251', '848000', '915090', '995362', '792049', '520477', '968083', '397939', '1051390', '995362', '816903', '1025743', '743062', '990423', '1033823', '460600', '1211274', '1057544', '1033823', '520477', '848000', '193517', '920327', '1033823', '995362', '1147459', '520477', '686820', '329963', '520477', '1033823', '329963', '995362', '460600', '1264372', '1033823', '1033823', '995362', '1033823', '520477', '460600', '995362', '319071', '1033823', '1211274', '520477', '520477', '1033823', '1147110', '487337', '460600', '1033823', '520477', '848000', '487337', '1033823', '520477', '335008', '299485', '487337', '1033823', '995362', '816903', '1033823', '1211274', '520477', '743062', '520477', '372099', '1033823', '520477', '1033823', '995362', '520477', '920327', '520477', '1033823', '299485', '995362', '1087585', '520477', '411707', '631072', '1033823', '520477', '1211274', '1033823', '132697', '520477', '520477', '995362', '1033823', '520477', '1033823', '520477', '7796', '1033823', '995362', '816903', '457828', '1115586', '816903', '1033823', '196174', '188412', '995362', '1249493', '460600', '372872', '520477', '520477', '947501', '1033823', '372872', '995362', '335008', '1033823', '1010355', '554251', '554251', '520477', '1033823', '554251', '554251', '1033823', '188412', '995362', '82389', '855343', '1033823', '810957', '33145', '1033823', '920327', '142249', '920327', '481372', '995362', '411707', '788465', '1033823', '309457', '520477', '995362', '855343', '1033823', '520477', '520477', '1033823', '848000', '520477', '460600', '995362', '1211274', '1057544', '848000', '1033823', '460600', '1166618', '1033823', '995362', '562647', '460600', '520477', '327773', '1033823', '995362', '1211274', '1057544', '329963', '1033823', '460600', '520477', '848000', '1033823', '305837', '995362', '487337', '1033823', '1057544', '577643', '372872', '995362', '1087585', '520477', '1033823', '995362', '18911', '1033823', '243989', '995362', '816903', '487337', '788176', '520477', '995362', '520477', '848000', '411707', '1033823', '995362', '848000', '855343', '995362', '655580', '1231567', '1104718', '1211274', '995362', '487337', '1033823', '1057544', '520477', '460600', '168220', '1033823', '569876', '1033823', '995362', '1089809', '520477', '1033823', '520477', '487337', '761520', '995362', '816903', '995362', '487337', '520477', '285591', '889545', '995362', '1033823', '229218', '520477', '1033823', '676152', '520477', '1087585', '920327', '1033823', '995362', '676152', '995362', '487337', '520477', '520477', '1033823', '995362', '487337', '1033823', '588997', '520477', '487337', '858727', '520477', '821567', '520477', '487337', '814731', '995362', '487337', '1033823', '520477', '520477', '783993', '920327', '920327', '920327', '13153', '487337', '995362', '487337', '591901', '792049', '520477', '1051390', '995362', '816903', '520477', '1051390', '487337', '995362', '264476', '447215', '520477', '1033823', '158164', '520477', '520477', '1166618', '995362', '487337', '520477', '554251', '554251', '1051390', '133940', '1033823', '998534', '995362', '487337', '264476', '1033823', '622073', '520477', '995362', '264476', '460600', '520477', '1249493', '487337', '995362', '816903', '463806', '520477', '487337', '920327', '1033823', '1254096', '995362', '487337', '1051390', '520477', '520477', '1033823', '995362', '520477', '264476', '520477', '487337', '1033823', '1033823', '855343', '1157791', '995362', '1033823', '520477', '520477', '995362', '264476', '1051390', '520477', '1033823', '520477', '487337', '147973', '591901', '133940', '816903', '457828', '1115586', '816903', '158164', '855343', '1157791', '995362', '520477', '487337', '285591', '541521', '1033823', '520477', '520477', '995362', '264476', '460600', '855343', '1137386', '1203094', '520477', '920327', '1033823', '995362', '520477', '487337', '133940', '1249493', '989940', '1033823', '920327', '327773', '995362', '460600', '327773', '1033823', '989940', '554251', '554251', '1249493', '541521', '1033823', '264476', '588997', '995362', '1033823', '133940', '465148', '574613', '520477', '964684', '995362', '816903', '201161', '229218', '1033823', '995362', '487337', '1033823', '663450', '788176', '487337', '995362', '1211274', '1033823', '788176', '995362', '848000', '520477', '1051390', '188412', '848000', '995362', '1211274', '1057544', '1108767', '1033823', '995362', '816903', '1025743', '701424', '264476', '487337', '995362', '990423', '995362', '816903', '487337', '1033823', '520477', '1033823', '520477', '1033823', '855343', '995362', '792049', '520477', '487337', '995362', '920327', '920327', '109974', '1033823', '995362', '562647', '520477', '674220', '995362', '816903', '1025743', '686820', '990423', '520477', '1025743', '701424', '201789', '201789', '701424', '655201', '1033823', '201789', '201789', '701424', '460600', '655201', '1033823', '1033823', '520477', '456758', '520477', '701424', '655201', '133940', '990423', '816903', '995362', '201133', '674220', '520477', '1166618', '520477', '995362', '487337', '1097342', '520477', '1089809', '520477', '721442', '995362', '816903', '1025743', '701424', '968083', '397939', '133940', '701424', '133940', '990423', '312707', '995362', '816903', '995362', '487337', '1051390', '312707', '520477', '520477', '1033823', '995362', '520477', '72103', '722507', '1033823', '995362', '520477', '995362', '1151443', '1033823', '520477', '520477', '995362', '1033823', '252588', '520477', '1033823', '995362', '1033823', '13153', '556835', '995362', '312707', '520477', '285591', '147973', '591901', '520477', '487337', '1033823', '995362', '816903', '931304', '520477', '1033823', '995362', '520477', '520477', '995362', '562577', '520477', '520477', '520477', '487337', '995362', '1033823', '520477', '520477', '487337', '995362', '1033823', '487337', '1033823', '285679', '1033823', '520477', '520477', '1033823', '995362', '98737', '520477', '801760', '995362', '674220', '911176', '1033823', '520477', '995362', '285591', '562647', '1033823', '675104', '520477', '487337', '1033823', '674220', '995362', '911176', '674220', '520477', '995362', '816903', '1025743', '701424', '655201', '995362', '701424', '655201', '655201', '1033823', '788176', '995362', '655201', '701424', '201789', '201789', '990423', '816903', '487337', '995362', '911176', '995362', '487337', '1033823', '285679', '460600', '285591', '1033823', '264476', '1033823', '285679', '520477', '856385', '920327', '1033823', '856385', '995362', '487337', '520477', '520477', '460600', '1093904', '1033823', '227822', '520477', '1033823', '1022805', '460600', '995362', '816903', '487337', '520477', '1025743', '701424', '655201', '133940', '701424', '655201', '1211274', '554251', '554251', '655201', '1211274', '1033823', '995362', '592110', '655201', '285591', '701424', '520477', '701424', '655201', '995362', '655201', '460600', '520477', '577406', '655201', '995362', '990423', '816903', '190067', '520477', '1133849', '743062', '995362', '816903', '1025743', '1097342', '520477', '655201', '701424', '520477', '133940', '655201', '701424', '520477', '18911', '701424', '484936', '1033823', '520477', '655201', '995362', '701424', '655201', '701424', '915090', '995362', '655201', '18911', '655201', '1033823', '788176', '995362', '990423', '816903', '457828', '1115586', '816903', '520477', '674220', '995362', '487337', '995362', '264476', '1133849', '1033823', '520477', '858727', '520477', '995362', '816903', '1025743', '701424', '18911', '1211274', '701424', '1033823', '788176', '995362', '848000', '701424', '788176', '372872', '1033823', '995362', '701424', '520477', '701424', '767155', '133940', '701424', '655201', '995362', '701424', '655201', '701424', '520477', '1097342', '701424', '995362', '990423', '816903', '520477', '285591', '1033823', '908744', '504232', '995362', '562647', '520477', '995362', '816903', '1025743', '655201', '133940', '990423', '487337', '264476', '520477', '1025743', '655201', '18911', '1033823', '520477', '701424', '1033823', '655201', '995362', '701424', '995362', '655201', '1033823', '520477', '655201', '995362', '990423', '816903', '264476', '1203094', '995362', '487337', '520477', '487337', '1033823', '998534', '995362', '487337', '920327', '1033823', '520477', '520477', '520477', '109974', '995362', '487337', '1033823', '520477', '1100007', '1033823', '851275', '1033823', '588997', '520477', '487337', '264476', '995362', '816903', '1025743', '701424', '966953', '133940', '990423', '487337', '520477', '1025743', '701424', '995362', '701424', '1033823', '995362', '701424', '995362', '460600', '1033823', '989940', '995362', '1033823', '855343', '520477', '598948', '1033823', '1033823', '995362', '1108767', '995362', '939268', '920327', '436600', '1033823', '989940', '995362', '701424', '995362', '990423', '816903', '1025743', '1033823', '460600', '520477', '676949', '598948', '520477', '598948', '995362', '520477', '201133', '701424', '788176', '701424', '1033823', '995362', '701424', '319071', '598948', '460600', '1033823', '995362', '701424', '460600', '701424', '995362', '990423', '816903', '816903', '457828', '1115586', '816903', '855343', '520477', '520477', '1033823', '327773', '520477', '995362', '1051390', '487337', '18911', '460600', '460600', '33145', '995362', '816903', '1025743', '848000', '133940', '990423', '520477', '1025743', '520477', '701424', '520477', '898948', '995362', '655201', '6475', '701424', '520477', '989940', '1033823', '520477', '701424', '18911', '1033823', '655201', '995362', '990423', '816903', '264476', '677919', '520477', '773476', '520477', '1051390', '995362', '487337', '1089809', '520477', '285591', '698607', '995362', '487337', '520477', '285591', '1211274', '1033823', '995362', '520477', '520477', '520477', '674220', '520477', '554821', '995362', '1211274', '1057544', '792049', '520477', '674220', '78141', '554821', '520477', '1033823', '995362', '1211274', '1033823', '995362', '816903', '520477', '264476', '995362', '487337', '1033823', '520477', '1009412', '1033823', '995362', '487337', '1033823', '518787', '520477', '487337', '520477', '1033823', '1211274', '1057544', '995362', '487337', '520477', '1211274', '487337', '1033823', '518787', '520477', '1264280', '995362', '1022242', '520477', '487337', '995362', '487337', '473461', '253161', '1025743', '1033823', '460600', '520477', '676949', '598948', '520477', '598948', '995362', '990423', '816903', '855343', '631072', '158164', '995362', '816903', '816903', '572782', '457828', '968083', '397939', '323159', '520477', '901492', '520477', '816903'], ['816903', '957974', '1033823', '133940', '928251', '347900', '520477', '261940', '520477', '710270', '856385', '1033823', '460600', '211511', '133940', '701424', '1033823', '626786', '554251', '554251', '611071', '363704', '520477', '796858', '1033823', '862457', '460600', '802744', '710270', '520477', '460600', '710270', '995362', '710270', '520477', '701424', '701424', '1033823', '361815', '816903', '816903', '816903', '701424', '710270', '460600', '856385', '520477', '520477', '133940', '1033823', '136414', '520477', '701424', '108492', '1033823', '658134', '701424', '710270', '856385', '520477', '675505', '825039', '1033823', '701424', '520477', '710270', '701424', '520477', '460600', '250170', '856385', '710270', '856385', '520477', '562647', '1009088', '1033823', '460600', '816903', '995362', '816903', '816903', '701424', '710270', '816903', '460600', '1033823', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '553856', '520477', '520477', '520477', '816903', '18911', '796858', '435292', '133940', '816903', '78141', '18911', '796858', '802744', '710270', '520477', '810162', '520477', '1033823', '520477', '701424', '460600', '78141', '18911', '802744', '710270', '1033823', '554251', '554251', '444135', '520477', '701424', '1033823', '1081251', '520477', '520477', '796858', '470829', '792049', '520477', '701424', '285591', '520477', '710270', '1033823', '837263', '133940', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '876555', '773259', '701424', '856385', '1071452', '816903', '1033823', '520477', '995362', '460600', '520477', '701424', '133940', '816903', '655201', '655201', '701424', '520477', '520477', '710270', '1033823', '1193939', '1097342', '1144961', '520477', '655201', '520477', '710270', '792049', '520477', '679412', '119099', '460600', '1033823', '133940', '816903', '520477', '701424', '710270', '1033823', '995362', '520477', '1033823', '816903', '460600', '816903', '133940', '133940', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '876555', '773259', '1071452', '816903', '285591', '701424', '309047', '1033823', '1238896', '209541', '882127', '710270', '520477', '701424', '133940', '796858', '970106', '520477', '1154217', '995362', '701424', '520477', '813061', '710270', '520477', '701424', '133940', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '701424', '1033823', '856385', '520477', '520477', '752991', '939604', '920327', '383832', '920327', '778165', '995362', '701424', '520477', '520477', '568277', '856385', '460600', '520477', '119099', '460600', '762897', '1033823', '133940', '701424', '856385', '113525', '520477', '701424', '168220', '1033823', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '1107358', '701424', '1033823', '520477', '487337', '520477', '577406', '520477', '487337', '133940', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '1033823', '825039', '520477', '701424', '995362', '240644', '19081', '1033823', '474610', '520477', '460600', '792049', '701424', '133940', '816903', '347900', '520477', '701424', '26206', '995362', '460600', '610495', '1033823', '520477', '520477', '40563', '1097342', '816903', '1062736', '520477', '1081251', '40563', '701424', '520477', '246539', '40563', '1097342', '520477', '626786', '1097342', '520477', '701424', '792049', '701424', '520477', '701424', '460600', '848000', '133940', '816903', '816903', '778803', '816903', '816903', '848000', '411707', '816903', '520477', '655201', '710270', '1033823', '626786', '1033823', '187793', '995362', '41306', '520477', '626786', '520477', '559236', '995362', '816903', '1097342', '1033823', '1033823', '520477', '655201', '1033823', '626786', '1089809', '520477', '460600', '796858', '1033823', '90061', '133940', '655201', '1033823', '1033823', '520477', '520477', '710270', '520477', '598948', '473461', '520477', '175320', '520477', '1097342', '626786', '1033823', '1033823', '995362', '816903', '701424', '710270', '792049', '862457', '520477', '701424', '460600', '1033823', '1253164', '520477', '520477', '701424', '1033823', '626786', '701424', '995362', '606233', '1033823', '789288', '995362', '816903', '710270', '1033823', '460600', '520477', '520477', '411707', '520477', '816903', '520477', '460600', '995362', '520477', '626786', '520477', '1033823', '876870', '626786', '995362', '335008', '626786', '1033823', '520477', '816903', '520477', '752991', '49805', '995362', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '626786', '701424', '1033823', '862457', '460600', '19081', '1136904', '520477', '1141256', '520477', '143205', '995362', '701424', '460600', '520477', '520477', '645761', '520477', '1033823', '520477', '49827', '934229', '995362', '655201', '49827', '520477', '1253164', '520477', '798405', '816903', '995362', '816903', '710270', '41306', '520477', '701424', '520477', '1033823', '995362', '460600', '520477', '792049', '701424', '856385', '1033823', '393541', '520477', '133940', '816903', '816903', '177526', '701424', '710270', '1033823', '729976', '816903', '194731', '1057544', '520477', '710270', '856385', '422170', '1033823', '995362', '792049', '655201', '465148', '813061', '520477', '995362', '856385', '982575', '792049', 

In [14]:
train_word = []
for line in tqdm(all_article):
    sentence = " ".join(line)
    train_word.append(sentence)

100%|██████████| 102277/102277 [00:00<00:00, 216806.67it/s]

In [15]:
test_word = []
for line in tqdm(article_test):
    sentence = " ".join(line)
    test_word.append(sentence)

100%|██████████| 102277/102277 [00:00<00:00, 210185.09it/s]

In [55]:
train_word[:3]

['1240292 1200054 1203094 1241273 729583 1131493 1203332 1255841 825039 93759 599826 643003 78141 1067170 610495 519560 305212 1161095 1271263 566120 1097942 253930 460600 469755 999378 41306 1025743 437702 1102131 876555 1276143 113299 758724 1043618 796858 288223 264536 995362 881493 569876 990423 1152016 263278 752523 1040672 572824 340401 701424 960860 520477 1253782 685144 920327 425511 533644 1278762 816903 411707 129186 1071452 966562 277558 626786 49805 99032 244780 848000 1251733 488550 1033823 862457 26206 257284 405687 568277 970779 1108771 190034 1145850 197563 803388 144973 792049 1097342',
 '919096 721442 1231567 655580 1104718 574613 541521 801760 676949 264476 98737 1264280 18911 13153 686820 577406 1211274 1276314 947501 456758 1157791 810957 1022805 28028 109974 142249 252588 701424 188412 520477 998534 920327 411707 1009412 111874 447215 285679 1137386 309457 598948 676152 436600 939268 1108767 504232 1097342 577643 329963 285591 1203094 323159 968083 147973 78141 1254096 1166618 767155 193517 566120 243989 1032942 201789 397939 201133 201161 1147110 1089809 990423 1087585 158164 554251 457828 674220 675104 372872 481372 592110 677919 42109 1133849 856385 227822 196174 562577 989940 1147459 487337 915090 966953 229218 1093904 1151443 1057544 855343 1100007 631072 7796 465148 132697 1171534 1025743 299485 889545 849254 168220 964684 569876 995362 743062 858727 441039 655201 911176 931304 985047 1010355 698607 663450 783993 851275 6475 898948 788465 357663 1264372 372099 422170 1051390 554821 72103 792049 773476 1249493 33145 460600 463806 327773 335008 253161 796858 82389 761520 190067 556835 943146 312707 788176 622073 133940 816903 588997 814731 173393 562647 848000 1107358 908744 591901 1033823 722507 1022242 520261 473461 901492 319071 1115586 572782 518787 821567 484936 305837',
 '250170 939604 1212330 246539 124774 1062736 610495 194731 119099 18911 789288 577406 383832 177526 645761 1238896 701424 520477 920327 411707 243105 626786 606233 285679 598948 166959 393541 113525 300235 729976 675505 261940 1097342 1081251 285591 1203094 211511 240644 78141 810162 802744 220626 876555 798405 957974 1089809 990423 876870 554251 1136904 592110 49805 679412 1074380 766019 856385 108492 813061 487337 778803 915090 928251 1057544 625296 773259 778165 825039 1100007 658134 465148 143205 40563 136414 363704 611071 1025743 347900 1144961 961710 693588 168220 995362 444135 934229 263278 474610 139132 485807 655201 187793 1253782 970106 209541 470829 762897 26206 568277 1009088 422170 72103 792049 1141256 626603 435292 22666 1229683 460600 553856 1253164 1193939 41306 175320 656396 19081 837263 90061 335008 796858 49827 622073 133940 816903 361815 1071452 562647 848000 1107358 882127 559236 309047 710270 1033823 862457 752991 1154217 473461 982575']

In [47]:
ex = all_article[0]
[" ".join(ex)]

['1240292 1200054 1203094 1241273 729583 1131493 1203332 1255841 825039 93759 599826 643003 78141 1067170 610495 519560 305212 1161095 1271263 566120 1097942 253930 460600 469755 999378 41306 1025743 437702 1102131 876555 1276143 113299 758724 1043618 796858 288223 264536 995362 881493 569876 990423 1152016 263278 752523 1040672 572824 340401 701424 960860 520477 1253782 685144 920327 425511 533644 1278762 816903 411707 129186 1071452 966562 277558 626786 49805 99032 244780 848000 1251733 488550 1033823 862457 26206 257284 405687 568277 970779 1108771 190034 1145850 197563 803388 144973 792049 1097342']

In [46]:
train['word_seg'][0]

'816903 597526 520477 1179558 1033823 758724 632718 422098 520477 414956 625597 1203094 441513 596474 660569 995362 924085 1278762 1155376 1109510 823120 1275770 1203094 520477 831818 970779 1179558 758724 1033823 367432 995362 340401 599826 520477 907218 1080651 99188 188983 1238335 264536 834740 321830 327386 469755 295102 520477 106993 663234 670118 566120 960860 1033823 1032772 528558 1108771 643003 520477 1191581 560181 335962 1276143 995362 748896 776840 910464 520477 707234 235866 1113816 814750 636128 520477 1241273 756099 658505 477703 520477 653967 627858 147022 572824 995362 816903 566120 1255841 785043 1025743 197563 990423 816903 6562 1000483 520477 426552 876555 812998 1071452 965650 54111 1145850 1194044 885827 683784 1181092 1278762 520477 717686 527096 33842 858507 995362 473420 1245422 966562 430183 520477 488550 569876 113299 944337 796858 386932 520477 1161095 1188752 490535 635442 411707 881493 520477 183528 1112816 796858 454003 129186 960860 175827 520477 244780 272645 520477 1097161 984580 69103 969033 520477 796858 300241 351200 834740 995362 816903 426552 988628 386932 520477 698094 129186 959270 792049 520477 604424 300241 454003 278563 765514 825039 335962 566120 1255841 520477 857269 54111 1105164 1077959 1033823 1043187 874881 520477 1130795 825039 174851 1025743 788544 990423 1033823 827281 520477 1067170 501097 186268 814120 685144 920327 93759 520477 852447 526374 257284 732050 1253782 437702 520477 1025743 100833 701424 610495 834740 63641 1207362 197563 1033823 38841 862457 520477 712778 275539 918421 248537 834740 1080166 1152016 995362 990423 816903 266784 196698 966562 520477 53796 78141 587327 1033823 1255841 520477 264512 1051868 177456 948160 995362 990423 426552 386932 520477 1066992 792049 520477 796858 808039 427992 808039 1100422 520477 110130 1121767 461074 346125 313684 718788 1200054 920327 1145850 204057 825039 520477 944337 887156 335962 827281 520477 626786 501097 1163362 803388 655939 520477 828892 197563 643316 995362 205402 858304 520477 426552 78141 1188445 39765 1207796 519560 520477 110130 719711 100833 278563 1083687 808533 995362 816903 718123 327386 469755 1191581 560181 816903 1115067 792049 520477 1145850 495141 266887 12453 141834 131275 1073687 995362 748896 1073687 520477 986447 1040672 1051868 834740 752874 190034 1106197 346935 425511 1002773 1043618 25407 520477 54111 1113816 718123 327386 469755 1191581 560181 431249 1276143 1033823 237665 995362 106993 237665 567228 911694 9604 268051 920327 1001167 535072 345864 920327 81687 729583 920327 1240292 1251733 920327 683784 1257015 806785 69240 995362 816903 816903 54111 230580 834740 106993 663234 1033823 587327 1203332 920327 1017369 546577 526298 716116 860795 958317 792049 520477 473420 999378 966562 426716 599826 520477 495141 1142343 936291 190034 920327 1200054 920327 1145850 49805 847972 131275 342077 520477 205592 1022076 860795 830193 1029655 477703 995362 816903 1025743 1042000 1108771 792049 520477 848000 1163183 1181092 532009 862457 520477 404543 305212 834740 288223 244780 995362 990423 1080651 188983 938967 930595 533644 94855 22706 1141728 520477 683784 569876 113299 54111 1181454 41306 325497 520477 965650 54111 60758 885680 743458 1097342 920327 1266863 1279716 625597 920327 144973 515268 216625 596474 26206 295061 1033823 1271263 520477 79262 752874 566120 960860 490535 1032772 520477 528558 1241273 643003 995362 816903 22706 386932 520477 460932 1241273 1255841 346125 292687 792049 520477 106993 663234 1163183 1112816 828892 405687 15321 1033823 830193 824395 430076 825039 1033823 1025743 788544 990423 827281 520477 857269 1121767 758201 825039 1033823 1255841 346125 186048 707506 1033823 1255841 346125 520477 162383 1241273 186268 814120 197563 49805 723492 995362 816903 1082097 520477 1146383 1077959 139404 878073 1241273 1025743 253930 923659 990423 520477 541144 287496 1080587 680465 1146784 1128160 1177527 520477 1130795 793816 1067170 99032 1033823 525932 407475 682882 596474 49805 1033823 38841 862457 995362 1025743 386932 460600 1131493 1033823 47463 520477 568277 19054 478371 967191 277558 995362 990423 816903 1066992 792049 520477 106993 663234 79262 1880 752523 69219 232680 1102131 520477 287496 495157 1266317 190034 1170849 346935 425511 196494 263278 920327 1251733 1097942 263278 920327 683784 241437 263278 920327 793816 1025743 788544 990423 655002 263278 816903 1033823 1240790 290616 995362 129533 889228 520477 658131 490774 422098 816903 608182 1226448'

In [39]:
train_top1000 = np.array(all_article)

In [42]:
type(train['word_seg'])

pandas.core.series.Series

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()
trn_term_doc = vec.fit_transform(train_word)

In [19]:
test_term_doc = vec.transform(test_word)

In [20]:
trn_term_doc.shape

(102277, 14323)

In [21]:
test_term_doc.shape

(102277, 14323)

In [24]:
save_sparse_csr("tfidf/train_top1000_t",trn_term_doc)
save_sparse_csr("tfidf/test_top1000_t",test_term_doc)

In [36]:
l = [9,8,7,6,5,4,3,2,1]
l2 = [9,4,2,5,7,8]
l3 = list(set(l2).intersection(set(l)))
print(l3)

[2, 4, 5, 7, 8, 9]

In [18]:
print(word[:5],all_top[:5])

['1000014', '1000015', '1000019', '100003', '1000032'] ['1095051', '678403', '197196', '480745', '266385']

In [21]:
stop_words = list(set(word)-set(all_top))

In [22]:
print(len(stop_words),stop_words[:5])

211994 ['402915', '56263', '609350', '117583', '581565']

In [25]:
test = pd.read_csv('data/test_set.csv')

In [27]:
#vec = TfidfVectorizer(ngram_range=(1,2),min_df=3, max_df=0.9,use_idf=1,smooth_idf=1, sublinear_tf=1)
vec = TfidfVectorizer(stop_words = stop_words)
trn_term_doc = vec.fit_transform(train['word_seg'])
test_term_doc = vec.transform(test['word_seg'])

In [23]:
from scipy.sparse import csr_matrix
def load_sparse_csr(filename):
    loader = np.load(filename)
    return csr_matrix((loader['data'], loader['indices'], loader['indptr']), shape=loader['shape'])
def save_sparse_csr(filename, array):
    np.savez(filename, data=array.data, indices=array.indices, indptr=array.indptr, shape=array.shape)

In [32]:
tr = load_sparse_csr('tfidf/train_tfidf_all.npz')
te = load_sparse_csr("tfidf/test_tfidf_all.npz")

In [33]:
print(tr.shape)
print(te.shape)

(102277, 2820641)
(102277, 2820641)

In [28]:
print(trn_term_doc.shape)
print(test_term_doc.shape)

(102277, 663128)
(102277, 663128)

In [38]:
trn_term_doc1000 = save_sparse_csr("tfidf/train_tfidf_stop1000",trn_term_doc)
test_term_doc1000 = save_sparse_csr("tfidf/test_tfidf_stop1000",test_term_doc)

In [8]:
# 1、构建词频矩阵，将文本中的词语转换成词频矩阵
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(class1['word_seg']) # 词频矩阵,a[i][j]:表示j词在第i个文本中的词频
# 2、统计每个词的tf-idf权值
transformer = TfidfTransformer()
tfidf = transformer.fit_transform(X)
# 3、获取词袋模型中的关键词
word = vectorizer.get_feature_names()
# 4、获取tf-idf矩阵，a[i][j]表示j词在i篇文本中的tf-idf权重
weight = tfidf.toarray()

In [9]:
print(word[:5])
weight[:5]

['1000006', '1000014', '1000015', '1000016', '1000032']

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.01382778, ..., 0.        , 0.        ,
        0.        ]])

In [10]:
word_tfidf = np.max(weight,axis=0)

In [11]:
word_tfidf_c = word_tfidf
top1000 = []
for i in range(1000):
    idx = list(word_tfidf_c).index(max(word_tfidf_c))
    top = word[idx]
    word_tfidf_c[idx] = 0
    top1000.append(top)
print(top1000[:5])

['824446', '166959', '702966', '40636', '1003950']

In [12]:
len(top1000)

1000

In [24]:
short_train.head()

,Unnamed: 0,id,article,word_seg,article_class,article_len,word_len
0,3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13,812,467
1,6,6,893673 7368 836872 674898 231468 856005 105964...,277781 816903 1098157 986174 1033823 780491 10...,1,416,259
2,7,7,1122654 125310 907560 1172361 979583 983951 12...,289186 640942 363388 585102 261174 1217680 520...,10,534,310
3,8,8,793790 599682 1223643 1030656 569999 178976 45...,1257015 966562 1054308 599826 811205 520477 28...,10,752,460
4,10,10,734846 28352 316275 979583 1209583 449838 4712...,398177 792991 282245 431944 507321 572782 5491...,18,953,623

In [30]:
topK = 10


idList, abstractList = np.array(class1['id']), class1['word_seg']
# 5、打印词语权重
ids, titles, keys = [], [], []
for i in range(len(weight)):
    #print (u"-------这里输出第", i+1 , u"篇文本的词语tf-idf------")
    ids.append(idList[i])
    #titles.append(titleList[i])
    df_word,df_weight = [],[] # 当前文章的所有词汇列表、词汇对应权重列表
    for j in range(len(word)):
        #print (word[j],weight[i][j])
        df_word.append(word[j])
        df_weight.append(weight[i][j])
    df_word = pd.DataFrame(df_word,columns=['word'])
    df_weight = pd.DataFrame(df_weight,columns=['weight'])
    word_weight = pd.concat([df_word, df_weight], axis=1) # 拼接词汇列表和权重列表
    word_weight = word_weight.sort_values(by="weight",ascending = False) # 按照权重值降序排列
    keyword = np.array(word_weight['word']) # 选择词汇列并转成数组格式
    word_split = [keyword[x] for x in range(0,topK)] # 抽取前topK个词汇作为关键词
    word_split = " ".join(word_split)
    keys.append(word_split.encode("utf-8"))

result = pd.DataFrame({"id": ids ,"key": keys},columns=['id','key'])

In [31]:
print(result[:5])

    id                                                key
0    6  b'716701 816903 780491 520477 149818 672517 99...
1   22  b'853754 383929 1025465 520477 1113816 920327 ...
2   25  b'196178 1033823 73450 520477 1112347 129986 1...
3   83  b'520477 127596 771566 1261121 1269707 183649 ...
4  102  b'520477 1033823 507788 889015 1119909 265005 ...

In [33]:
topK = 10

topkey = []

idList, abstractList = np.array(class1['id']), class1['word_seg']
# 5、打印词语权重
ids, titles, keys = [], [], []
for i in range(len(weight)):
    #print (u"-------这里输出第", i+1 , u"篇文本的词语tf-idf------")
    ids.append(idList[i])
    #titles.append(titleList[i])
    df_word,df_weight = [],[] # 当前文章的所有词汇列表、词汇对应权重列表
    for j in range(len(word)):
        #print (word[j],weight[i][j])
        df_word.append(word[j])
        df_weight.append(weight[i][j])
    df_word = pd.DataFrame(df_word,columns=['word'])
    df_weight = pd.DataFrame(df_weight,columns=['weight'])
    word_weight = pd.concat([df_word, df_weight], axis=1) # 拼接词汇列表和权重列表
    word_weight = word_weight.sort_values(by="weight",ascending = False) # 按照权重值降序排列
    keyword = np.array(word_weight['word']) # 选择词汇列并转成数组格式
    for x in range(0,topK):# 抽取前topK个词汇作为关键词
        k = keyword[x]
        if k not in topkey:
            topkey.append(k)

In [34]:
print(len(topkey),topkey[:5])

18693 ['716701', '816903', '780491', '520477', '149818']

In [ ]:
topK = 10

topkey = []

idList, abstractList = np.array(class1['id']), class1['word_seg']
# 5、打印词语权重
ids, titles, keys = [], [], []
for i in range(len(weight)):
    #print (u"-------这里输出第", i+1 , u"篇文本的词语tf-idf------")
    ids.append(idList[i])
    #titles.append(titleList[i])
    df_word,df_weight = [],[] # 当前文章的所有词汇列表、词汇对应权重列表
    for j in range(len(word)):
        #print (word[j],weight[i][j])
        df_word.append(word[j])
        df_weight.append(weight[i][j])
    df_word = pd.DataFrame(df_word,columns=['word'])
    df_weight = pd.DataFrame(df_weight,columns=['weight'])
    word_weight = pd.concat([df_word, df_weight], axis=1) # 拼接词汇列表和权重列表
    word_weight = word_weight.sort_values(by="weight",ascending = False) # 按照权重值降序排列
    keyword = np.array(word_weight['word']) # 选择词汇列并转成数组格式
    for x in range(0,topK):# 抽取前topK个词汇作为关键词
        k = keyword[x]
        if k not in topkey:
            topkey.append(k)

In [24]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vec = TfidfTransformer(stop_words = stop_words)
#vec = TfidfVectorizer(min_df=3, max_df=0.9,use_idf=1,smooth_idf=1, sublinear_tf=1)
trn_term_doc1000 = vec.fit_transform(new_train['word_seg'])

TypeError: __init__() got an unexpected keyword argument 'stop_words'

In [18]:
trn_term_doc1.shape

(5375, 46574)

In [24]:
trn_term_doc1.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.04248378, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [12]:
dir(vec)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_char_ngrams',
 '_char_wb_ngrams',
 '_check_vocabulary',
 '_count_vocab',
 '_get_param_names',
 '_limit_features',
 '_sort_features',
 '_tfidf',
 '_validate_vocabulary',
 '_white_spaces',
 '_word_ngrams',
 'analyzer',
 'binary',
 'build_analyzer',
 'build_preprocessor',
 'build_tokenizer',
 'decode',
 'decode_error',
 'dtype',
 'encoding',
 'fit',
 'fit_transform',
 'fixed_vocabulary_',
 'get_feature_names',
 'get_params',
 'get_stop_words',
 'idf_',
 'input',
 'inverse_transform',
 'lowercase',
 'max_df',
 'max_features',
 'min_df',
 'ngram_range',
 'norm',
 'preprocessor',
 'set_params',
 'smooth_idf',
 'stop_words',
 'stop_words_',
 'strip_accents',
 'sublinear_tf',
 'token_pattern',
 'tokenizer',
 'transform',
 'use_idf',
 'vocabulary',
 'vocabulary_']

In [16]:
trn_term_doc.shape

(102277, 292233)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
column = "word_seg"

vec = TfidfVectorizer()
trn_term_doc = vec.fit_transform(train[column])

In [17]:
test_term_doc = vec.transform(test[column])

In [18]:
print(trn_term_doc.shape)  #stand
print(test_term_doc.shape)

(102277, 875122)
(102277, 875122)

In [10]:
trn_term_doc.shape  #normal_idf

(102277, 875122)

In [11]:
test_term_doc.shape

(102277, 875122)

In [19]:
save_sparse_csr("tfidf/train_stand",trn_term_doc)

In [20]:
save_sparse_csr("tfidf/test_stand",test_term_doc)

In [48]:
trn_term_doc.shape  #min_df=1, max_df=1

(102277, 471757)

In [44]:
trn_term_doc.shape

(102277, 292233)

In [45]:
len(vec.vocabulary_)

292233

In [ ]:
test_term_doc = vec.transform(test[column])