In [1]:
import pandas as pd

In [7]:
pd.read_csv('test.csv')

            id  class
0            0     13
1            1     14
2            2      3
3            3      9
4            4      8
5            5      3
6            6      3
7            7     10
8            8     12
9            9      6
10          10     12
11          11      3
12          12     10
13          13     15
14          14     14
15          15     18
16          16     12
17          17      1
18          18     12
19          19     15
20          20     12
21          21     12
22          22      3
23          23     13
24          24     19
25          25     19
26          26      8
27          27     10
28          28     12
29          29     19
...        ...    ...
102247  102247     10
102248  102248     10
102249  102249     16
102250  102250     19
102251  102251     18
102252  102252     18
102253  102253     10
102254  102254     12
102255  102255     19
102256  102256     19
102257  102257     14
102258  102258     12
102259  102259     11
102260  102260     13
102261  102261     12
102262  102262     13
102263  102263     12
102264  102264      8
102265  102265      3
102266  102266     10
102267  102267      8
102268  102268      9
102269  102269      8
102270  102270      3
102271  102271     14
102272  102272     13
102273  102273     12
102274  102274      8
102275  102275     14
102276  102276     12

[102277 rows x 2 columns]

In [4]:
df[:10]

   id  class
0   0     12
1   1     13
2   2      2
3   3      8
4   4      7
5   5      2
6   6      2
7   7      9
8   8     11
9   9      5

In [8]:
train = pd.read_csv("data/train_set.csv")
new_train = train.rename(columns={'class': 'article_class'}, inplace=False)
y_train = pd.get_dummies(new_train['article_class'])
y = y_train.values

In [9]:
y[:5]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]],
      dtype=uint8)

In [10]:
train.head()

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [12]:
import numpy as np
import pandas as pd
import tensorflow as tf
#from rnn_model import TRNNConfig, TextRNN
from tensorflow.contrib import learn

# coding: utf-8

# å¯¼å…¥ä½¿ç”¨åˆ°çš„åº“
from keras.preprocessing.sequence import pad_sequences
from keras.preprocessing.text import Tokenizer
from keras.layers.merge import concatenate
from keras.models import Sequential, Model
from keras.layers import Dense, Embedding, Activation, merge, Input, Lambda, Reshape,BatchNormalization
from keras.layers import Convolution1D, Flatten, Dropout, MaxPool1D, GlobalAveragePooling1D
from keras.layers import LSTM, GRU, TimeDistributed, Bidirectional
from keras.utils.np_utils import to_categorical
from keras import initializers
from keras import backend as K
from keras.engine.topology import Layer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

from keras.models import load_model

Using TensorFlow backend.

In [13]:
test = pd.read_csv("data/train_set.csv")

x_test = list(test.word_seg)

vocab_dir = "vocab_dir/vocab"

vocab_processor = learn.preprocessing.VocabularyProcessor.restore(vocab_dir)
x = np.array(list(vocab_processor.fit_transform(x_test)))
x_test = pad_sequences(x, maxlen=1000)


model = load_model('test.h5')

all_predictions = []

all_predictions = model.predict(x_test,batch_size=64)

In [14]:
print(all_predictions.shape)
print(type(all_predictions),all_predictions[:5])

(102277, 19)
<class 'numpy.ndarray'> [[4.80814487e-01 5.63347538e-04 5.12166589e-05 3.16990772e-03
  6.11716183e-04 2.78431369e-04 7.18287993e-05 1.15893565e-01
  3.39192164e-04 2.37403112e-03 1.13884662e-05 1.65290223e-03
  1.08987549e-02 4.25990112e-02 1.54356050e-04 3.36451650e-01
  2.03528791e-04 3.51482304e-03 3.45838605e-04]
 [1.30190291e-02 8.49524327e-03 6.30623043e-01 2.48197336e-02
  2.00357288e-03 5.47206253e-02 3.80868907e-03 6.93272287e-03
  7.77408341e-03 2.57717390e-02 7.71627412e-04 1.60065629e-02
  7.08296197e-03 2.34778132e-03 6.80369744e-03 1.39513833e-03
  3.68104404e-04 1.76802725e-01 1.04529560e-02]
 [2.27480885e-02 2.99997686e-04 5.85469697e-03 3.93795548e-03
  7.15375226e-03 3.49955191e-03 1.44859895e-01 1.88160893e-02
  5.37629845e-03 8.03320706e-02 2.59049726e-03 2.36096814e-01
  3.05266492e-02 3.44604909e-01 1.27472999e-02 1.81149575e-04
  6.86315969e-02 1.27848040e-03 1.04642455e-02]
 [2.27126479e-02 3.20762279e-04 1.77804986e-03 1.18500264e-02
  3.71324923e-03 4.14032547e-04 3.40742338e-03 2.38000508e-02
  8.47001094e-03 2.58369911e-02 5.19610476e-04 4.51978017e-03
  5.11364400e-01 2.74902523e-01 1.10755477e-03 7.80551732e-02
  4.98888025e-04 1.81188877e-03 2.49169003e-02]
 [1.47957506e-03 8.47445743e-04 2.88981814e-02 3.36533831e-03
  9.23312176e-03 7.85799790e-03 3.08760963e-02 1.42898026e-03
  4.16789611e-04 2.73422175e-03 1.04688003e-03 8.88606608e-01
  2.06053792e-03 1.07801426e-03 3.35250399e-04 5.09432830e-05
  4.52758186e-03 3.01838463e-05 1.51263056e-02]]

In [15]:
all_prediction=np.argmax(all_predictions,axis=1)

In [16]:
all_prediction

array([ 0,  2, 13, ..., 11,  3, 10])